
@model MRM.Web.ViewModel.ViewModelCalendarRoomDetail
<div style="width: 100%;">
    <div class="table-responsive" style="width: 98%;">
        @if (Model.RoomDetailListCal.Count != 0)
        {

            <table class="table table-bordered table-hover tblAvailableRoom" cellspacing="0" >
                <thead>
                    <tr >
                        <th class="tblheader">No.</th>
                        <th class="tblheader">Room Image</th>
                        <th class="tblheader">Room Name</th>
                        <th class="tblheader">Room Number</th>
                        <th class="tblheader">Floor Name</th>
                        <th class="tblheader">RoomType Name</th>
                        <th class="tblheader cls_action">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.RoomDetailListCal)
                    {

                        <tr>
                            <td class="tbl50 tblheader">@item.Count</td>
                            <td  class="tbl150 tblheader">
                                @if (item.RoomPicture != null)
                                {
                                    <img src="~/Rotativa/RoomImage/@item.RoomPicture.FileName" style=" width: 140px; height: 100px;" class="img-thumbnail" alt="Cinque Terre" />
                                }
                                else
                                {
                                    <img src="~/Content/Img/no-image.png" style=" width: 140px; height: 100px;" class="img-thumbnail" alt="Cinque Terre" />
                                }
                            </td>
                            <td title="@item.RoomName" class="tbl150 tblheader">
                                @item.RoomName
                            </td>
                            <td   class="tbl50 tblheader"> @item.RoomNumber</td>
                            <td title="@item.FloorName"  class="tbl150 tblheader">
                                @item.FloorName
                            </td>
                            <td title="@item.RoomTypeName" class="tbl150 tblheader">
                                @item.RoomTypeName
                            </td>
                            <td  class="tbl150 tblheader">
                                <button class="btn btn-success" @(item.NewIsBooked == true ? "disabled" : "") id="btnBook_@item.Count" data-backdrop="static" data-keyboard="false" data-target="#DeleteUserPopup" style="width:95px">Book Room </button>
                                <input type="hidden" id="hdnRoomId" value="@item.RoomId" />
                                <input type="hidden" id="hdnRoomName" value="@item.RoomName" />
                                <input type="hidden" id="hdnRoomNumber" value="@item.RoomNumber" />
                                <input type="hidden" id="hdnFloorName" value="@item.FloorName" />
                                <input type="hidden" id="hdnRoomTypeName" value="@item.RoomTypeName" />
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
        }
        else
        {
            <h3 class="col-md-4 col-md-offset-5">No Room Available</h3>
        }

    </div>
</div>
<script type="text/javascript">
    $(function () {
        if ('@ViewBag.largestart' == "largestart") {
                toastr.success('Room Created Successfully');
        }
        $('.tblAvailableRoom').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            "sDom": 'Rfrtlip',
            "pageLength": 10,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            'lengthMenu': [[5, 10, 15, 20, 25], [5, 10, 15, 20, 25]],
            'scrollX': true,
            "scrollY": "600px",
            "scrollCollapse": true,
            "sScrollX": "100%",
            "sScrollXInner": "100%",
        });

    });

</script>
